<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <link rel="stylesheet" href="research.css">
</head>
<body>
    <header class="user-details">
        <h1>Research</h1>
        <p>Discover my contributions to the academic and research community.</p>
    </header>

    <main>
        <!-- Research Item 1 -->
        <section class="user-research">
            <div class="contents-right">
                <h3>Integrating datasets with discrete and natural language annotations for person retrieval</h3>
                <p>This project was my first contribution to academia. The aim was to use soft biometric features for person identification in surveillance footage. I developed an NLP-based framework that mapped language prompts to a standardized format for the AVSS dataset, facilitating person retrieval in video. This work was published at the IoT/CPS-Security 2023 workshop at VTC 2023-Fall in Hong Kong.</p>
                <p>Tools and Technologies: NLTK, SpaCy, Tkinter, Python, Roboflow</p>
                <p class="link-center"><a class="project-link" href="https://www.ieeevtc.org/vtc2023fall/DATA/2023002909.pdf" target="_blank">Check it out</a></p>
            </div>
        </section>

        <!-- Research Item 2 -->
        <section class="user-research">
            <div class="contents-left">
                <h3>Analytical Computation of System Response Matrices in an SPEBT Environment</h3>
                <p>Currently working as a graduate research assistant under Dr. Rutao Yao, focusing on analytical computation of system response matrices in Single-Photon Emission Breast Tomography (SPEBT) using the pymatcal and pyrecon modules.</p>
            </div>
        </section>
    </main>
</body>
</html>
